coloredlogs
gitpython
jinja2
jmespath
jsonschema
markdown-captions
markdown-exec
mkdocs
mkdocs-autolinks-plugin
mkdocs-awesome-pages-plugin
mkdocs-glightbox
mkdocs-macros-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-mermaid2-plugin
mkdocs-multirepo-plugin
mkdocs-table-reader-plugin
pre-commit
pymdown-extensions
pyyaml
