[data-md-color-scheme="hvnc"] {
    --md-primary-fg-color: #FF8001;
    --md-primary-fg-color--light: #FF9910;
    --md-primary-fg-color--dark: #DD7000;
}

figure {
    border: thin solid #4051b5;
    background-color: #eee;
    padding: 5px;
}

h2 {
    color: #4051b5;
    border-bottom: thin solid #4051b5;
}

h3 {
    color: #666;
}

label.md-nav__title {
    display: none
}

.admonition-title {
    font-size: 0.8rem;
}

.admonition>p {
    font-size: 0.8rem;
}


th {
    font-weight: bold;
}

md-typeset ol li,
.md-typeset ul li {
    margin-bottom: 0px;
}

.md-typeset code {
    /* background-color: inherit; */
    font-size: inherit;
    padding: 0;
    font-weight: 500;
    /* word-break: keep-all; */
    /* color: var(--md-primary-fg-color) */
}


/* .rst-* rules modify styling of RTD version selector */

.rst-versions {
    background: #191d30 !important;
    font-size: larger !important;
}

.rst-current-version {
    background: #465085 !important;
    color: #FF8001 !important;
}

.rst-versions.rst-badge {
    left: 20px !important;
}


code.del {
    background-color: #ea9999;
}

code.ins {
    background-color: #b6d7a8;
}

code.spot1 {
    background-color: #ffff00;
}

code.spot2 {
    background-color: #00ffff;
}

code.spot3 {
    color: #ff00ff;
}

table, tr, td, th {
    border: thin solid #ccc;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center; 
}

table .hl {
    background: #eeeeee;
}

table.gc {
    width: 100%; 
}

table.gc tr, table.gc td {
    padding: 5px;
}