{% macro list_to_ul(list) %}
<ul>
    {% for item in list %}
    <li style="margin-left: 0">{{item}}</li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro links(swe) %}
{% set repo_slug = swe["source"]["repo_slug"] %}
<a href="https://pubmed.ncbi.nlm.nih.gov/{{swe['pubmed_id']}}/">PubMed</a>
{% if swe.get("links") %}
{% for md in swe["links"].get("markdown", []) %}
<br />{{md|markdown}}
{% endfor %}
{% endif %}
<br />[![Issues](https://img.shields.io/github/issues-raw/{{repo_slug}}.svg)](https://github.com/{{repo_slug}}/issues)
<br />[![Open Pull
Requests](https://img.shields.io/github/issues-pr/{{repo_slug}}.svg)](https://github.com/{{repo_slug}}/pull/)
<br />[![Contributors](https://img.shields.io/github/contributors/{{repo_slug}}.svg)](https://github.com/{{repo_slug}}/graphs/contributors/)
<br />[![Stars](https://img.shields.io/github/stars/{{repo_slug}}.svg?style=social&label=Stars)](https://github.com/{{repo_slug}}/stargazers)
<br />[![Forks](https://img.shields.io/github/forks/{{repo_slug}}.svg?style=social&label=Forks)](https://github.com/{{repo_slug}}/network)
{% endmacro %}

<table>
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>License</th>
        <th>Functionality</th>
        <th>Description</th>
        <th>Links</th>
    </thead>
    <tbody>
        {% for swe in software %}
        {% set license_info = licenses[swe["license"]] %}
        <tr>
            <td><a href="{{swe['primary_url']}}">{{swe["name"]}}</a></td>
            <td>{{list_to_ul(swe["types"])}}</td>
            <td><a href="{{license_info['url']}}">{{license_info['name']}}</a></td>
            <td>{{list_to_ul(swe["functionality"])}}</td>
            <td>{{swe["description"]|markdown}}</td>
            <td>{{links(swe)|markdown}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
