{% macro list_to_ul(list) %}
<ul>
    {% for item in list %}
    <li style="margin-left: 0">{{item}}</li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro links(swe) %}
{% set repo_slug = swe["source"]["repo_slug"] %}
<a href="https://pubmed.ncbi.nlm.nih.gov/{{swe['pubmed_id']}}/">PubMed</a>
{% if swe.get("links") %}
{% for md in swe["links"].get("markdown", []) %}
<br />{{md|markdown}}
{% endfor %}
{% endif %}
{% endmacro %}

<table>
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>License</th>
        <th>Functionality</th>
        <!-- <th>Description</th> -->
        <th>Links</th>
    </thead>
    <tbody>
        {% for swe in software %}
        {% set license_info = licenses[swe["license"]] %}
        <tr>
            <td><a href="{{swe['primary_url']}}">{{swe["name"]}}</a></td>
            <td>{{list_to_ul(swe["types"])}}</td>
            <td>{% if license_info.get("url") %}<a href="{{license_info['url']}}">{{license_info['name']}}</a>{% else %}{{license_info['name']}}{% endif %}</td>
            <td>{{list_to_ul(swe["functionality"])}}</td>
            <!-- <td>{{swe["description"]|markdown}}</td> -->
            <td>{{links(swe)|markdown}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
